<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="root" class="home-btn">
        <ion-icon name="home" slot="icon-only" class="home-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="isRegister">
    <ion-segment-button value="false">Login</ion-segment-button>
    <ion-segment-button value="true">Registro</ion-segment-button>
  </ion-segment>

  <ion-item *ngIf="isRegister">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="submit()"> {{ isRegister ? 'Registrar' : 'Entrar' }} </ion-button>
</ion-content>
