<ion-header>
  <ion-toolbar>
    <ion-title>Catálogo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="add()">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-sliding *ngFor="let book of books" #sliding>   <!-- 👈 AÑADIDO #sliding -->
      <ion-item (click)="open(book)">
        <ion-avatar slot="start">
          <img [src]="book.image" />
        </ion-avatar>
        <ion-label>
          <h2>{{ book.title }}</h2>
          <p>{{ book.author }} • ${{ book.price }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="edit(book, sliding)" color="tertiary">Editar</ion-item-option>
        <ion-item-option (click)="confirmDelete(book, sliding)" color="danger">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
