<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="root" class="home-btn">
        <ion-icon name="home" slot="icon-only" class="home-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Catálogo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="add()">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let book of books" #sliding>
      <ion-item (click)="openDetail(book)">
        <ion-thumbnail slot="start">
          <img [src]="book.image" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ book.title }}</h2>
          <p>{{ book.author }} • ${{ book.price }}</p>
          <small *ngIf="book.adminEmail">Admin: {{ book.adminEmail }}</small>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="edit(book, sliding)" color="tertiary">Editar</ion-item-option>
        <ion-item-option (click)="confirmDelete(book, sliding)" color="danger">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
